.container {
    width: 100%;
}
.card {
    display: inline-block;
    width: 90px;
    height: 138px;
    border: 1px solid #333;
    box-sizing: border-box;
    background-image: url(cardBackground.png);
    background-color: #cccccc;
    background-position: -32px 0px;
}

.card.spade.two { background-position: -32px 0px;}
.card.spade.three { background-position: -126px 0px;}
.card.spade.four { background-position: -220px 0px;}
.card.spade.five { background-position: -314px 0px;}
.card.spade.six { background-position: -408px 0px;}
.card.spade.seven { background-position: -502px 0px;}
.card.spade.eight { background-position: -596px 0px;}
.card.spade.nine { background-position: -690px 0px;}
.card.spade.ten { background-position: -784px 0px;}
.card.spade.jack { background-position: -878px 0px;}
.card.spade.queen { background-position: -972px 0px;}
.card.spade.king { background-position: -1066px 0px;}
.card.spade.ace { background-position: -16520px 0px;}

.card.heart.two { background-position: -32px -138px;}
.card.heart.three { background-position: -126px -138px;}
.card.heart.four { background-position: -220px -138px;}
.card.heart.five { background-position: -314px -138px;}
.card.heart.six { background-position: -408px -138px;}
.card.heart.seven { background-position: -502px -138px;}
.card.heart.eight { background-position: -596px -138px;}
.card.heart.nine { background-position: -690px -138px;}
.card.heart.ten { background-position: -784px -138px;}
.card.heart.jack { background-position: -878px -138px;}
.card.heart.queen { background-position: -972px -138px;}
.card.heart.king { background-position: -1066px -138px;}
.card.heart.ace { background-position: -16520px -138px;}

.card.diamond.two { background-position: -32px -278px;}
.card.diamond.three { background-position: -126px -278px;}
.card.diamond.four { background-position: -220px -278px;}
.card.diamond.five { background-position: -314px -278px;}
.card.diamond.six { background-position: -408px -278px;}
.card.diamond.seven { background-position: -502px -278px;}
.card.diamond.eight { background-position: -596px -278px;}
.card.diamond.nine { background-position: -690px -278px;}
.card.diamond.ten { background-position: -784px -278px;}
.card.diamond.jack { background-position: -878px -278px;}
.card.diamond.queen { background-position: -972px -278px;}
.card.diamond.king { background-position: -1066px -278px;}
.card.diamond.ace { background-position: -16520px -278px;}

.card.club.two { background-position: -32px -418px;}
.card.club.three { background-position: -126px -418px;}
.card.club.four { background-position: -220px -418px;}
.card.club.five { background-position: -314px -418px;}
.card.club.six { background-position: -408px -418px;}
.card.club.seven { background-position: -502px -418px;}
.card.club.eight { background-position: -596px -418px;}
.card.club.nine { background-position: -690px -418px;}
.card.club.ten { background-position: -784px -418px;}
.card.club.jack { background-position: -878px -418px;}
.card.club.queen { background-position: -972px -418px;}
.card.club.king { background-position: -1066px -418px;}
.card.club.ace { background-position: -16520px -418px;}


.card.over {
    background-position: -596px -566px !important;
}
