.container {
    width: 100%;
}
.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #32fa96;
    border: 1px solid #333;
    box-sizing: border-box;
}

.card.over {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/01_of_spades_A.svg/2000px-01_of_spades_A.svg.png);
}
